<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cherrycakes">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cherrycakes">
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".ForgetActivity" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".edit_profile_Activity" />
        <activity android:name=".Profile_Activity" />
        <activity android:name=".locationActivity" />
        <activity android:name=".item_details_Activity" />
        <activity android:name=".sponge_cake_Activity" />
        <activity android:name=".Red_velvet_cake_Activity" />
        <activity android:name=".customize_cakes_Activity" />
        <activity android:name=".photo_cake_Activity" />
        <activity android:name=".Chocolate_Activity" />
        <activity android:name=".square_cakes_Activity" />
        <activity android:name=".Heart_cakes_Activity" />
        <activity android:name=".RoundcakesActivity" />
        <activity android:name=".homeActivity" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".phoneActivity" />
        <activity android:name=".signupActivity" />
        <activity android:name=".welcomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>